/* Estilo geral */
body {
    font-family: sans-serif;
    margin: 5px;
    padding: 0;
    background-color: #f4f4f4;
}

.logo h1{
    color: black;
    font-weight: normal;
    letter-spacing: 3px;
    font-family: OCR A Std, monospace;
}

.menu_principal{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    background-color: #f9db59;
    width: 100%;
    position: fixed;
}
.nav_list{
    display: flex;
    list-style: none;
}

.nav_list li{
    margin-left: 32px;
}
.mobile_menu{
    cursor: pointer;
    float: right;
    display: none;

}
.mobile_menu div{
    width: 32px;
    height: 2px;
    background-color: #333;
    margin: 8px;
}
.menu_principal ul a{
    color: black;
    text-decoration: none;
    padding: 1em;
    font-weight: bold;
    letter-spacing: 2px;
}

.menu_principal ul a:hover{
    background-color: red;
    color:#fff;
}



@media  screen and (max-width:999px){
    header{
        margin-top: -5px;
    }
    .gambiarra{
        height: 45px;
    }
    .nav_list{
        position: fixed;
        top: 5vh;
        right: 0;
        width: 40vw;
        height: 92vh;
        flex-direction: column;
        align-items: left;
        justify-content: space-around;
        background: #f9db59;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav_list li{
        margin-left: 0px;
    }
    
    .mobile_menu{
        display: block;
    }
    .nav_list.active{
        transform: translateX(0);
    }
    @keyframes navLinkFade{
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0);
        }
    }


}
/* Seções */
section {
    padding: 20px;
}

section h2 {
    margin-top: 0;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.conteiner_seta{
    display: flex;
    justify-content: flex-end;
}
div.seta{
    width: 50px;
    height: 50px;
    background-image: url("fotos/seta.png");
    background-size: cover;
}
/* Cardápio */
.cardapio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item {
    width: 300px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
}

.item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

.item h3 {
    margin: 0;
    font-weight: bold;
}

.item p {
    margin: 0;
    line-height: 1.5;
}

.item .preco {
    font-weight: bold;
    margin-top: 10px;
}
.btn_comprar{
    font-size: 1.2em;
    background-color: red;
    color: #fff;
    margin-top: 5px;
    font-weight: bold;
    border: 1px solid red;
}

.quantidade_produto{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.quantidade_produto button{
    background-color: #4CAF50;
    border: none;
    color: #fff;
    padding: 6px 10px;
    text-align: center;
    margin:4px 2px ;
    cursor: pointer;
    border-radius: 50%;
}
.quantidade_produto span{
    margin: 0 10px;
    font-size: 18px;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th {
    background-color: #f2f2f2;
}
/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
